<% if notice %> 
  <section class="max-w-md w-full mx-auto" >
    <div class="max-w-md bg-orange-100 border-t-4 border-orange-600 rounded-b text-orange-900 px-4 py-3 shadow-md mb-4">
    <div class="flex items-center">
      <div class="py-1">
        <svg class="fill-current h-6 w-6 text-orange-600 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
        </svg>
      </div>
      <p class="font-bold"><%= notice %></p> 
    </div>
    </div>
  </section>
<% end %> 

<% content_for :title, "Todos" %>

<section class="block max-w-md w-full mx-auto bg-zinc-50 py-8 px-4 border border-gray-200 rounded-md shadow-sm" >
  <div class="flex gap-2 mb-8">
    <input class="shadow rounded-md border border-gray-300 outline-none px-3 py-2 w-full bg-transparent hover:border-orange-600 focus:border-orange-600 focus:ring-orange-600">
    <button class="rounded-lg px-3 py-2 bg-orange-600 w-fit text-white hover:bg-orange-800 ">Search</button>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-bold text-orange-600" >Todos</h1>

    <%= link_to new_todo_path(), class: "border border-orange-600 px-2 py-2 rounded-full text-orange-600 hover:bg-orange-600 hover:text-white" do %>
      <span class="sr-only">Add</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 448 512" fill="currentColor" title="Add todo">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
      </svg>
    <% end %>
  </div>

  <%
=begin%>
 <div id="todos">
    <% @todos.each do |todo| %>
      <%= render todo %>
      <p>
        <%= link_to "Show this todo", todo %>
      </p>
    <% end %>
  </div> 
<%
=end%>

<div id="todos-list" class="flex flex-col gap-1 mt-6">
    <% @todos.each do |todo| %>
      <div id="todos" class="flex justify-between rounded-lg my-2 items-center border-b pb-2">
        <%= render todo %>

        <div class="flex flex-row gap-2 items-center">
          <%= link_to edit_todo_path(todo), class: "border border-dashed border-gray-300 hover:border-orange-600 px-2 py-2 rounded-full text-gray-300 hover:text-orange-600" do %>
            <span class="sr-only">Edit</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 512 512" fill="currentColor" title="Edit todo">
              <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
            </svg>
          <% end %> 

          <%= button_to todo_path(todo), class: "border border-dashed border-gray-300 hover:border-red-600 px-2 py-2 rounded-full text-gray-300 hover:text-red-600", method: :delete do %>
            <span class="sr-only">Delete</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 448 512" fill="currentColor" title="Delete todo">
              <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</section>
